@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Add a CRT screen flicker effect */
@keyframes flicker {
  0% { opacity: 0.97; }
  5% { opacity: 0.95; }
  10% { opacity: 0.9; }
  100% { opacity: 1; }
}

main {
  animation: flicker 0.1s infinite secondary;
}

